

/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container-fluid {
    padding: 20px;
    overflow: hidden;
  }
  
  .btn {
    margin: 10px; */
    /* margin: 10px; */
  /* display: inline-block; Ensure the button is treated as an inline element
  padding: 10px 20px;
  }
  
  .row-cols-1 {
    display: flex; */
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap;
  }
  
  .col {
    margin: 10px;
    flex: 1; */
    /* flex-grow: 0; */
    /* height: fit-content;
  }
  
  .card {
    width: 18rem;
  }
  
  .card-img-top { */
    /* max-height: 200px;
    object-fit: cover; */
    /* max-width: 1000%;
  height: auto;
  object-fit: cover;
  }
  
  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  h6 {
    margin-bottom: 5px;
  }
   */
   .col{
    height: fit-content;
   }